[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[scripts]
main = "python scripts/run.py src/main.py"
migrate = "python scripts/run.py scripts/migrate.py"
render-my-group = "python scripts/run.py scripts/render_my_group.py"

[packages]
python-dotenv = "*"
returns = "*"
pyrsistent = "*"
pfun = "*"
aiohttp = "*"
asyncpg = "*"
aiogram = "*"
vkwave = "*"
beautifulsoup4 = "*"
lxml = "*"
pillow = "*"

[dev-packages]
mypy = "*"
