[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
render-my-group = "python script.py render-my-group"
bot-server = "python bot_server.py"

[packages]
python-dotenv = "*"
bidict = "*"
pillow = "*"
aiohttp = "*"
beautifulsoup4 = "*"
lxml = "*"
python-telegram-bot = "*"
telebot = "*"
pytelegrambotapi = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
