<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="themes/light.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<table>
  <thead>
  <tr>
    <td colspan="2"><h1>4ПрИн-5а.16</h1></td>
  </tr>
  <tr>
    <td><h2>Дисциплина, вид занятия, преподаватель</h2></td>
    <td><h2>Ауд.</h2></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <p class="subject">ПМ03 МДК 03.012</p>
      <p class="type">(лекция)</p>
      <p class="teacher">Конченко Е. А.</p>
    </td>
    <td>
      <p>2-404</p>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
